.dashboard-poll-body-question {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dashboard-poll-body-question-title {
    color: #4A4E69;
}

.dashboard-poll-body-question-option {
    margin: 1em 0;
    font-style: italic;
    font-weight: 600;
}

.dashboard-poll-body-question-button button {
    padding-right: 2em;
    padding-left: 2em;
}