.login {
    margin: 20vh 30vw;
}

.login-header {
    margin-bottom: 1em;
}

.login-header-title {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 1em;
}
.login-header-title span {
    font-style: italic;
}

.login-header-subtitle {
    font-size: 0.9em;
}

.login-body-button {
    display: flex;
    margin-top: 1em;
}

.login-body-button button {
    flex: 1 1;
}


.login-body-users .css-1wa3eu0-placeholder {
    color: #22223b91;
    font-size: 0.9em;
}

.login-body-users-selected-user {
    display: flex;
    align-items: center;
}

.login-body-users-selected-user img {
    height: 2em;
    width: 2em;
    border-radius: 1em;
    border: 1px solid #9A8C98;
}

.login-body-users-selected-user span {
    margin-left: 1em;
    font-size: 0.9em;
    color: #22223B;
}
