.new-question {
    margin: auto 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-question-title {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.new-question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-question-form input, .new-question-form button {
    width: 40vw;
}

.new-question-form-or {
    margin: 0.2em auto;
}

.new-question-form-option input {
    padding: 0.4em 0;
    font-size: 1em;
    color: #4A4E69;
}

.new-question-form button {
    margin-top: 2em;
}